[submodule "submodules/TensorVision"]
	path = network/submodules/TensorVision
	url = https://github.com/TensorVision/TensorVision.git
[submodule "submodules/tensorflow-fcn"]
	path = network/submodules/tensorflow-fcn
	url = https://github.com/MarvinTeichmann/tensorflow-fcn.git
